@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;900&display=swap');

:root {
    --blue: #0b74fd;
    --red: #ff3030;
    --yellow: #ffff65;
    --light: #eee;
    --dark: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family:'poppins', 'Ping Fang TC','微軟正黑體','sans-serif';
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    vertical-align: top;
}
iframe {
    width: 100%;
}
/* btn */
.btn {
    display: inline-block;
    text-decoration: none;
    padding: 8px 25px;
    border-radius: 8px;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    transition:400ms;
    border:0;
    cursor: pointer;
    font-size: 16px;
}
.btn-blue {
    --btn-bg:var(--blue);
}
.btn-blue:hover {
   --btn-bg: #a9ceff;
}
.btn-red {
    --btn-bg: var(--red);
}
.btn-red:hover {
    --btn-bg: #ff7171;
}
.btn-yellow {
    --btn-bg: var(--yellow);
}
.btn-yellow:hover {
    --btn-bg: #ffff99;
}
.btn-dark {
    --btn-bg: var(--dark);
    --btn-text: var(--light);
}
.btn-dark:hover {
    --btn-bg: #4b4b4b;
}
.btn-light {
    --btn-bg: var(--light);
}
.btn-light:hover {
    --btn-bg: #bdbcbc;
}


/* text-align */
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
