nav {
    width: 100%;
    display: flex;
    padding-block:15px;
    padding-inline:30px;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: rgb(255 255 255 / .1); */
    /* backdrop-filter: blur(8px); */
    background-color: rgba(240, 248, 255, 0.447);
    z-index: 100;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
nav a:hover {
    color: #ffffff;
}
.menu-group {
    display: flex;
    /* background-color: #098; */
    width: 100%;
}

.logo {
    width: 100px;
}
.logo a {
    width: auto;
    letter-spacing: 2px;
    font-weight: bold;
}
.logo a:hover {
    color: blanchedalmond;
}
.menu a {
    margin-inline: 3px;
    font-size: 14px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    transition: .3s;
}
.menu a:hover {
    background-color: rgb(255 255 255 / .2)
}
.menu-left {
    margin-left: auto;
}
.menu-right {
    margin-left: auto;
}