.nav-toggle {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #ededed;
}
nav {
    display: block;
    width: 100%;
    background-color: #222;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.logo {
    color: #ededed;
    margin-inline:15px;
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block;

    margin-block:10px
}
.logo a {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
}
.menu-group {
    /* display: block; */
    /* display: none; */
    height: 0;
    overflow: hidden;
    transition: 600ms;

    width: 100%;
}

.menu {
    display: block;
    list-style: none;
}
.menu-right {
    margin-left: auto;
}
.menu-item {
    margin-inline: 3px;
}
.menu-link {
    color: #ededed;
    display: inline-block;
    padding: 12px 10px;
    border-radius: 5px;
    transition: 400ms;
}

@media(min-width:720px){
    .nav-toggle {
        display: none;
    }
    nav {
        display: flex;
        height: 60px;
    }
    .logo {
        margin-inline: 15px;
    }
    .logo a {
        color: #ffffff;
        font-size: 1.4rem;
        font-weight: bold;
    }
    .menu-group {
        display: flex;
        height: initial;
        overflow: initial;
        transition: 600ms;
    }
    .menu {
        display: flex;
    }
    .menu-link {
        padding: 6px 10px;
    }
    .menu-link:hover {
        background-color: #a2ff65;
        color: #222;
    }
}