nav {
    width: 100%;
    padding-block: 6px;
    background-image: linear-gradient(45deg, #96caffd3, #c8ffceb4 80%); /* 設定漸層角度及顏色 */
    backdrop-filter: blur(8px);
    padding-inline: 15px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    /* opacity: 0; */
    animation: fadeIn 1s forwards;
}
.nav-toggle {
    display: block;
    position: absolute;
    top: 8px;
    right: 15px;
    color: rgba(33, 31, 31, 0.77);
    transition: .3s;
}
.nav-toggle.active  {
    color: #ffffff;
    background-color: initial;
}
nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav a.logo {
    display: inline-block;
    padding: 5px;
    width: 250px;
    transition: .3s;
}
nav a.logo:hover {
    letter-spacing: 5px;
    color: #282828;
}
a.logo{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
}
.menu .nav-btn {
    font-weight:bold;
    display: inline-block;
    font-size: 18px;
    margin-inline: 25px;
    padding: 10px 15px;
    transition: .3s;
    border-radius: 10px;
}
.menu-group {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .3s;
}
.menu-group a {
    display: inline-block;
    /* margin-inline: 15px; */
    color: #000000;
    padding: 12px 15px;
    transition: .3s;
}
.menu-left {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-right {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* successful people -> href */
.my-company {
    position: relative;
    padding-block: 15px;
    margin-top: 44.67px;
    width: 100%;
    height: 25px;
    background-image: linear-gradient(45deg, #cbcbcb, #949494b4 60%); /* 設定漸層角度及顏色 */
}
.my-company.active {
    background-color: aliceblue;
}
.my-company .content{
    margin-top: -10px;
}
.my-company .content a {
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 4px;
    font-weight: bold;
}
.my-company .content a:hover {
    text-decoration: none;
    color: transparent;
    background-image: linear-gradient(45deg, #5947ff, #ff5e31c3 120%);
    -webkit-background-clip: text;
    background-clip: text;
    background-color: #ffffff;
}
.my-introduce {
    display: flex;
    height: 600px;
    background-image: linear-gradient(45deg, #e4ffe5 , #d1dfff 80%);
}
.introduce-left {
    float: left;
    display: none;
    position: relative;
    /* opacity: 0; */
    padding: 20px 15px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 150px;
    height: 100%;
    background-color: #ffffff68;
    backdrop-filter: blur(6px);
    align-items: center;
}
.introduce-left.active {
    display: flex;
}
.introduce-right {
    position: relative;
    display: flex;
    width: 100%;
}
.experience {
    position: relative;
    width: 100%;
    padding-block: 5px;
    background-color: #fff0d1a7;
    animation: expand 1s ease-in-out;
}
.btn-introduce {
    position: absolute;
    top: 2px;
    padding-inline: 8px;
    font-size: 20px;
    cursor: pointer;
}
.my-content-img {
    margin-top: 25px;
}
@media(min-width:720px){
    nav {
        display: flex;
    }
    .nav-toggle {
        display: none;
    }
    .menu .nav-btn:hover {
        background-color: rgb(71, 71, 71);
        border-radius: 10px;
        color: var(--white);
    }
    .nav-btn.active {
        background-color: rgb(71, 71, 71);
        border-radius: 10px;
        color: var(--white);
    }
    .logo {
        width: 500px;
    }
    nav a.logo  {
        width: 350px;
        padding-top: 10px;
        font-size: 20px;
    }    
    .menu a {
        font-size: 18px;
        font-weight: bold;
    }
    .menu-group {
        display: flex;
        height: initial;
        overflow: initial;
    }
    .menu-left {
        flex-direction: row;
    }
    .menu-right {
        flex-direction: row;
    }    
    .my-company {
        padding-block: 25px;
        margin-top: 57.67px;
    }
    .my-company .content {
        margin-top: -17px;
    }
    .my-company .content a {
        font-size: 1.5rem;
    }
    .introduce-left {
        padding: 20px 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 20%;
        height: 100%;
        background-color: #ffffff68;
        backdrop-filter: blur(6px);
        align-items: center;
    }
    .introduce-right {
        display: flex;
        width: 80%;
    }
    .experience {
        width: 100%;
        padding-block: 15px;
        background-color: #fff;
        animation: expand 1s ease-in-out;
    }
    .my-content-img {
        margin-top: 50px;
    }
}

@keyframes expand {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
        
    }
}