body {
    background-color: #ffffff;
}

nav {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: rgba(0, 0, 0, 0.847);
    padding: 16px 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 5px 10px #0000008a;
    height: 62px;
    z-index: 100;
}

nav .logo {
    cursor:default;
    color: #9ef2ff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

nav .logo > span {
    color: #b3ff95;
}

nav ul {
    display: block;
    align-items: center;
    font-size: 0;
}

nav ul li {
    display: none;
    font-weight: bold;
    padding: 18px 30px;
    transition: .3s;
    font-size: 16px;
}
nav ul li a {
    color: #fff;
}
nav ul li:hover {
    background-color: #000000;
    color: #fff;
}

nav .nav-toggle {
    position: fixed;
    right: 15px;
    cursor: pointer;
    z-index: 100;
    color: #fff;
}

/* header */
.header {
    width: 100%;
    height: 700px;
    position: relative;
    /* 圖片來源: https://i1.kknews.cc/jmqCj71Gl0-rJumw_cVKv9dtVI_jHIAASe2xis8/0.jpg */
    background-image: url('/application/images/header.jpg');
    clip-path: polygon(0 0,100% 0,100% calc(100% - 10vw) ,0 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;
}

.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000040;
}

.header .title {
    writing-mode: vertical-lr; /* 將文字垂直排列，從上到下（由左向右） */
    text-orientation: upright; /* 確保文字保持正確的方向*/
    white-space: nowrap; /* 防止文字折行 */
}

.header .title h1 {
    position: absolute;
    left: 2%;
    top: 2%;
    letter-spacing: 3px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.header .title h2 {
    position: absolute;
    right: 2%;
    top: 2%;
    letter-spacing: 3px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.header .title h1 span:nth-child(1) {
    color: #ff4000;
}
.header .title h1 span:nth-child(2) {
    color: #ffffff;
}

.header .me-item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 60vw;
    width: 60vw;
    vertical-align: top;
    border-radius: 50%;
    overflow: hidden;
}

.header .me-item img {
    width: 100%;
}

.header .name {
    transform: rotate(-6deg);
    padding: 10px;
    background-color: #b1b1b188;
    position: absolute;
    bottom: 10vw;
    right: 10px;
    border-radius: 6px;
}

.header .name h1 {
    color: #fff;
}

/* life-page */

.life-page {
    position: relative;
    z-index: 10;
    margin-top: -10vw;
    padding-block: calc(100px + 10vw);
    clip-path: polygon(0 0,100% 0,100% calc(100% - 10vw) ,0 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/application/images/importent-page.jpg');
}

.life-page .title {
    position: relative;
    background-color: #ffffff8f;
    padding-block: 6px;
    /* margin-bottom: 100px; */
    font-weight: 800;
}

.life-page .title::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 8px;
    background-color: #ff457a;
}

.life-page .life-img {
    position: relative;
    width: 300px;
    padding: 20px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    background-color: #fff;
    overflow: hidden;
}

.life-page .life-img img {
    width: 100%;
    vertical-align: top;
}

/* pointer-page */
.pointer-page {
    position: relative;
    z-index: 9;
    margin-top: -10vw;
    padding-block: calc(100px + 10vw);
    clip-path: polygon(0 0,100% 0,100% calc(100% - 10vw) ,0 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/application/images/pointer-page.jpg');
}

.pointer-page .title {
    position: relative;
    background-color: #ffffff8f;
    padding-block: 6px;
    /* margin-bottom: 100px; */
    font-weight: 800;
}

.pointer-page .title::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 8px;
    background-color: #46acff;
}

.pointer-page .feature {
    width: 200px;
    height: 300px;
    background-color: #9ef2ff;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 910px) {
    nav {
        padding: 0px 10%;
        flex-direction: row;
        height: initial;
        justify-content: space-between;
        height: 62px;
    }
    nav .logo {
        margin-bottom: 0px;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        display: inline-block;
    }
    nav .nav-toggle {
        display: none;
    }
}