body {
    background-color: #ffffff;
}

nav {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: rgba(0, 0, 0, 0.847);
    padding: 16px 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 5px 10px #0000008a;
    height: 62px;
    z-index: 100;
}

nav .logo {
    cursor:default;
    color: #9ef2ff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

nav .logo > span {
    color: #b3ff95;
}

nav ul {
    display: block;
    align-items: center;
    font-size: 0;
}

nav ul li {
    display: none;
    font-weight: bold;
    padding: 18px 30px;
    transition: .3s;
    font-size: 16px;
}
nav ul li a {
    color: #fff;
}
nav ul li:hover {
    background-color: #000000;
    color: #fff;
}

nav .nav-toggle {
    position: fixed;
    right: 15px;
    cursor: pointer;
    z-index: 100;
    color: #fff;
}

/* header */
.header {
    width: 100%;
    height: 700px;
    position: relative;

    background-image: url('/application/images/header.jpg');
    clip-path: polygon(0 0,100% 0,100% calc(100% - 10vw) ,0 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000040;
}

.header .title {
    writing-mode: vertical-lr; /* 將文字垂直排列，從上到下（由左向右） */
    text-orientation: upright; /* 確保文字保持正確的方向*/
    white-space: nowrap; /* 防止文字折行 */
}

.header .title h1 {
    position: absolute;
    left: 2%;
    top: 2%;
    letter-spacing: 3px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.header .title h2 {
    position: absolute;
    right: 2%;
    top: 2%;
    letter-spacing: 3px;
    font-size: 30px;
    color: rgb(71, 71, 71);
}

.header .title h1 span:nth-child(1) {
    color: #ff4000;
}
.header .title h1 span:nth-child(2) {
    color: #ffffff;
}

.header .me-item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 60vw;
    width: 60vw;
    vertical-align: top;
    border-radius: 50%;
    overflow: hidden;
}

.header .me-item img {
    width: 100%;
}

.header .name {
    transform: rotate(-6deg);
    padding: 20px 10px;
    background-color: #b1b1b188;
    position: absolute;
    bottom: 10vw;
    right: 10px;
    border-radius: 6px;
}

.header .name h1 {
    color: #fff;
}

/* important-page */
.important-page {
    margin-top: -10vw;
    padding-block: calc(50px + 10vw);
    width: 100%;
    clip-path: polygon(0 10vw,100% 0,100% calc(100% - 10vw) ,0 100%);
    background-color: rgba(255, 212, 212, 0.708);
}

.important-page .title {
    padding-bottom: 30px;
}

.important-page .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    background-color: rgb(135, 173, 255);
    color: #f0f0f0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 50px;
    animation: shadowBubble 1s ease-in-out infinite;
}

.important-page .text {
    text-align: center;
    padding-top: 25px;
    font-weight: 700;
}

@keyframes shadowBubble {
    0% {
        box-shadow: 0 0 2px rgb(46, 46, 46);
    }
    25% {
        box-shadow: 0 0 10px rgb(46, 46, 46);
        transform: scale(1.05);
    }
    50% {
        box-shadow: 0 0 2px rgb(46, 46, 46);
    }
}

@media (min-width: 910px) {
    nav {
        padding: 0px 10%;
        flex-direction: row;
        height: initial;
        justify-content: space-between;
        height: 62px;
    }
    nav .logo {
        margin-bottom: 0px;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        display: inline-block;
    }
    nav .nav-toggle {
        display: none;
    }
}