body {
    background-color: #ffffff;
}

nav {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: rgba(0, 0, 0, 0.847);
    padding: 16px 10%;
    position: fixed;
    width: 100%;
    box-shadow: 0 5px 10px #0000008a;
    height: 62px;
}

nav .logo {
    cursor:default;
    color: #9ef2ff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

nav .logo > span {
    color: #b3ff95;
}

nav ul {
    display: block;
    align-items: center;
    font-size: 0;
}

nav ul li {
    display: none;
    color: #fff;
    font-weight: bold;
    padding: 20px 30px;
    transition: .3s;
    font-size: 16px;
}
nav ul li:hover {
    background-color: #000000;
    color: #fff;
}

nav .nav-toggle {
    position: fixed;
    right: 15px;
    cursor: pointer;
    z-index: 100;
    color: #fff;
}

@media (min-width: 910px) {
    nav {
        padding: 0px 10%;
        flex-direction: row;
        height: initial;
        justify-content: space-between;
        height: 62px;
    }
    nav .logo {
        margin-bottom: 0px;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        display: inline-block;
    }
    nav .nav-toggle {
        display: none;
    }
}